# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# build
dtm
dtm-darwin*
dtm-linux*
smoke
build/output
build/working_dir
docs/build

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# YAML for testings
config*.yaml*
variables*.yaml
variables*.yaml.bak
tools*.yaml
tools*.yaml.bak
e2e-test-local.yaml

# IDE
.idea/
.vscode/

# .devstream
.devstream/
*.state
# do not ignore this file
!/test/state/test_drifted.state

# e2e
testbin/

# plugins
.github-*

# terraform
.terraform

# test
cov

# md
README_when_create_plugin.md
