---
tools:
- name: golang-demo-repo
  plugin:
    kind: github-repo-scaffolding-golang
    version: 0.0.2
  options:
    owner: ironcore864
    # will also be used as application name
    repo: golang-demo
    branch: main
    image_repo: ironcore864/golang-demo
- name: golang-demo-app
  plugin:
    kind: githubactions-golang
    version: 0.0.2
  options:
    owner: ironcore864
    repo: golang-demo
    language:
      name: go
      version: "1.17"
    branch: main
    build:
      enable: True
    test:
      enable: True
      coverage:
        enable: True
    docker:
      enable: True
- name: go-hello-world-gitlab-ci
  plugin:
    kind: gitlabci-golang
    version: 0.0.2
  options:
    pathWithNamespace: ironcore864/golang-demo
    branch: main
- name: trello-github-integ-golang-demo
  plugin:
    kind: trello-github-integ
    version: 0.0.2
  options:
    owner: ironcore864
    repo: golang-demo
    api:
      name: trello
    branch: main
- name: argocd-dev
  plugin:
    kind: argocd
    version: 0.0.2
  options:
    create_namespace: true
    repo:
      name: argo
      url: https://argoproj.github.io/argo-helm
    chart:
      chart_name: argo/argo-cd
      release_name: argocd
      namespace: argocd
      wait: true
      timeout: 5m
      upgradeCRDs: true
- name: argocdapp-golang-demo
  plugin:
    kind: argocdapp
    version: 0.0.2
  options:
    app:
      name: golang-demo
      namespace: argocd
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    source:
      valuefile: values.yaml
      path: helm/golang-demo
      repoURL: https://github.com/ironcore864/golang-demo.git
- name: kube-prometheus-dev
  plugin:
    kind: kube-prometheus
    version: 0.0.2
  options:
    create_namespace: true
    repo:
      name: prometheus-community
      url: https://prometheus-community.github.io/helm-charts
    chart:
      chart_name: prometheus-community/kube-prometheus-stack
      release_name: dev
      namespace: monitoring
      wait: true
      timeout: 5m
      upgradeCRDs: true
- name: devlake
  plugin:
    kind: devlake
    version: 0.0.2
- name: jenkins-dev
  plugin:
    kind: jenkins
    version: 0.0.2
  options:
    create_namespace: true
    repo:
      name: jenkins
      url: https://charts.jenkins.io
    chart:
      chart_name: jenkins/jenkins
      release_name: dev
      namespace: jenkins
      wait: true
      timeout: 5m
      upgradeCRDs: true
