---
tools:
- name: githubactions
  version: 0.0.1
  options:
    owner: ironcore864
    repo: go-hello-http
    language:
      name: go
      version: "1.17"
    branch: master
##for python config
#- name: githubactions
#  version: 0.0.1
#  options:
#    owner: lfbdev
#    repo: spotipy
#    language:
#      name: python
#      version: "3"
#    branch: master
##for nodejs config
#- name: githubactions
#  version: 0.0.1
#  options:
#    owner: lfbdev
#    repo: lowdb
#    language:
#      name: nodejs
#      version: "9"
#    branch: main
- name: argocd
  version: 0.0.1
  options:
    repo:
      name: argo
      url: https://argoproj.github.io/argo-helm
    chart:
      name: argo/argo-cd
      release_name: argocd
      namespace: argocd
      create_namespace: True
- name: argocdapp
  version: 0.0.1
  options:
    app:
      name: hello
      namespace: argocd
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    source:
      valuefile: values.yaml
      path: charts/go-hello-http
      repoURL: https://github.com/ironcore864/openstream-gitops-test.git
