name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20
          cache: true

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run tests
        run: go test -v ./...

      - name: Build project
        run: make build
