name: license check by FOSS
on:
  pull_request

jobs:
  fossa:
    runs-on: [self-hosted, linux, X64]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: fossa-contrib/fossa-action@v1
        with:
          # https://docs.fossa.com/docs/api-reference#push-only-api-token
          fossa-api-key: 047e53daaa907de4fda24866d0346f1d
