name: lint commit message
on: [ push, pull_request ]

jobs:
  lint-commit-message:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4
        with:
          configFile: ${{ github.workspace }}/build/ci/commitlint.config.js
