name: Master Builder

on:
  push:
    branches: [ master ]

jobs:

test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Test
        run: go test -v ./...
      - name: Build
        run: go build -v ./...
