name: pull request builder

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - 'Makefile'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/*.yml'
      - 'test/**'
      - 'hack/e2e/**'
      - 'hack/terraform/**'

env:
  go-version: 1.18.x
jobs:
  golang-lint:
    name: Golang lint
    runs-on: [self-hosted, linux, X64]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Install Go ${{ env.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.go-version }}
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.46
          args: --timeout 5m0s
  build-and-test:
    needs: [golang-lint]
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.18.x]
        include:
          - os: ubuntu-latest
    runs-on: [self-hosted, linux, X64]
    name: build-test-${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Golang env
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          cache: true
      - name: Test
        run: go test -v ./...
      - name: Build
        run: make build -j8
